@font-face {
  font-family: "ArialRounded";
  src: url("../fonts/Arial_Rounded_MT.ttf");
}

@font-face {
  font-family: "ArialRoundedBold";
  src: url("../fonts/Arial_Rounded_MT_Bold.ttf");
}

@font-face {
  font-family: "ArialRoundedLight";
  src: url("../fonts/Arial_Rounded_MT_Light.ttf");
}

*
{
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: ArialRoundedLight;
  user-select: none;

}
html {
  scroll-behavior: smooth;
}

/* Remove bottom's empty pixels*/
img
{
  vertical-align:bottom;
}

.header
{
  height: 55px;

}

/*Wrapper for header via grid */
.wrapper
{
  display: grid;
  grid-template-columns: 60% 30% 10%;
  align-items: center;

  z-index: 2;
  position: fixed;
  width: 100%;
  height: 55px;
  background-color: rgba(13, 31, 45, .91);
  backdrop-filter: blur(0.6em);
  transition: visibility 0.2s,opacity 0.3s linear
}

/* Logo bar */
#logo
{
  margin-left: 7%;
  margin-top: 4px;
  height: 23px;
}
#logo:hover
{
  cursor: pointer;
}

/* Search bar */
/*Whole bar  */
.wrapper.active
{
  display:none;
  align-items: center;
}

.searchbar
{
  display:flex;
  align-items: center;
}

.button
{
  background-color: white;
  border: none;
  border-radius: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  outline: none;
  box-shadow: none;
}

.search.input
{
  height: 30px;
  width: 60%;
  border-radius: 7px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 10px;
  padding-top: 2px;
  border: none;
  outline: none;
  box-shadow: none;
}

/* Button design */
.search.button
{
  height: 32px;
  width: 30px;
  background:#fff url('./icons/searchIcon.png');
  background-size: 15px 15px;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  cursor:pointer;
}


/* Main language bar */
.lgbar
{
  display:flex;
  align-items: center;
  /*Fix disappear bug with header when i use animations */
  transform: translate3d(0,0,0);

}

.lgwrapper
{
  display: flex;
  align-items: center;
  cursor: pointer;
}
/* For #lg and dropdown content */
.flexVertical
{
  position: relative;
  display: inline-block;
}



/* Language icon(text) */
#lg
{
  font-family: ArialRounded;
  color: white;
  margin-top: 4px;
  font-size: 16px;
}

/* Arrow image */
#arrow
{
  height: 8px;
  margin-top: 2px;
  margin-left: 4px;
  transition-duration: 1s;
  z-index: auto;
}

/* Context menu */
.lgbar .dropdown-content
{
  display:flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(1,1,7,.5);
  right:-13px;
  top:30px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s,opacity 0.3s linear;
}

/* Context menu button option */
  .lgwrapper:hover .dropdown-content
{
  visibility: visible;
  opacity:1;
}

 .dropdown-content img:hover
{
  filter: brightness(1.1);
}



.lg_button_option
{
  display: flex;
  flex-direction: row;
}

.lg_button_option a
{
  text-decoration: none;
  color:black;
}

.lg_button_option img
{
  height: 21px;
  width: 32px;
}


.lgwrapper:hover #arrow
{
  transform:rotate(-180deg);
  transition-duration: 0.8s;
}

.lg_button_option:hover
{
  background-color: #E8E8E8;
}
